<!DOCTYPE html>

<html>

<head>
    {{>headContent}}
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

    {{>weatherForm}}
    {{>forecast}}
    </div>

    {{>footer}}
    <script src="/js/weatherApp.js"></script>
</body>

</html>